body {
  background-color: #cccccc;
}
h1{
  font-weight: bolder;
  font-size: 40px
}
h2{
  font-weight: bold;
  border-style: solid;
  background-color: grey;
}
p{
  font-style: italic;
  font-weight: bold;
  color: #393232;
}
h3{
  font-weight: bolder;
}
.section {
  border style solid;
}
