body {
  background-color: #cccccc;
}
h1{
  font-weight: bolder;
  font-size: 40px;
  background-color: grey;
  border-style: solid;
}
a{
  font-weight: bolder;
  font-size: 30px;
  background-color: grey;
  border-style: solid;
}
